header
{
  text-align: center;
}

body 
{
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  background-color: #1f1f1f;
  line-height: 1.6;
}
h1
{
  color:white
}
section
{
  padding: 2rem;
  max-width: 600px;
  margin: 10px;
}
.hobi, .etkinlik 
{
  
  font-size:large;
  display: inline-block;
  width: 45%;
  margin: 2rem;
  background: white;
  padding: 1rem;
  border-radius: 100px;
 }
.galeri img 
{
  border-radius: 40px;
}
.linkler {
  color:darkorange;
  font-weight: bold;
  text-decoration: none;
}
.linkler:hover{
  color:black;
  font-weight: bold;
  text-decoration: none;
}

footer 
{
  text-align: center;
  padding: 1rem;
  background: #ddd;
}
.background-cv{
  background-image:url("../../img/background2.jpg");/* Dosya uzantısını unutma! */
  background-size: cover;       /* Resmin alanı kaplaması için */
  background-repeat: no-repeat; /* Tekrar etmesin */
  background-position:100%;  /* Ortalansın */
}
article {
  background-color: #f5f5f5; /* açık gri arka plan */
  padding: 16px;            /* iç boşluk */
  margin-bottom: 20px;      /* bloklar arası boşluk */
  border-radius: 10px;      /* köşeleri yuvarlat */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* hafif gölge */
  max-width: 400px;         /* isteğe bağlı genişlik sınırı */
}
.cv-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
}
.left, .right {
  flex: 1;
}

.left {
  max-width: 60%;

}

.right {
  max-width: 35%;
}
.carousel-item img {
    width: 100%;       /* Bulunduğu container kadar genişlik */
    height: 300px;     /* Sabit yükseklik */
    object-fit: cover; /* Taşarsa kırp, bozulmadan göster */
  }

  /* Carousel alanını da kontrol etmek istersen: */
  #demo {
    max-width: 800px;     /* İsteğe bağlı: slider genişliğini sınırlarsın */
    margin: 0 auto;       /* Ortalarsın */
  }
  @media (max-width: 768px) {
  .carousel-item img {
    height: 180px;
  }
}